.container {
  margin: 24px 24px 0;

  @list-avatar-size: 64px;
  .list_avatar {
    width: @list-avatar-size;
    height: @list-avatar-size;
    display: flex;
    justify-content: center;
    align-items: center;

    .list_image {
      max-width: @list-avatar-size;
      max-height: @list-avatar-size;
    }
  }
}

.add_button {
  border: 1px dashed #cccccc;
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}