.container {
  margin: 24px 24px 0;

  .list_image {
    width: 80px;
  }
}

.add_button {
  border: 1px dashed #cccccc;
  height: 210px;
  display: flex;
  justify-content: center;
  align-items: center;

}